
div.todo-item-wrapper {
	width: 65%;
	display: flex;
	flex-direction: row;
	padding: 6px 20px;
	border-radius: 17px;
	margin: 7px 0;
	background-color: rgb(255, 229, 85);
	border: 1px solid rgb(233, 198, 0);
	box-shadow: 2px 3.5px 4px 0 lightgray;
}

div.todo-item-wrapper.completed {
	background-color: rgb(255, 240, 157);
}

div.left-section {
	display: flex;
	flex-direction: row;
	width: calc(100% - 35px);
}

img.check-box {
	margin: 0;
	margin-right: 30px;
	cursor: pointer;
	width: 35px;
	height: 35px;
	margin: auto 10px;
}

p.todo-item-text {
	font-size: 22px;
	color: #444;
}

div.right-section {
	text-align: right;
	justify-content: right;
	align-content: center;
	width: 35px;
	cursor: pointer;
}